.chatList {
  flex: 1;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  row-gap: var(--space);
  overflow-y: auto;
  background: transparent url('/chat-bg.png') center/contain repeat;
}

.status {
  text-align: center;
  color: var(--bubble-info-color);
  font-size: var(--font-size-sm);
  padding: var(--space-2xl) var(--space);
  margin: auto;
}
